<h2 class="edit-title">Editing Book</h2>

<div>
  <% if @book.errors.any? %>
    <p class="error-message">
      <%= @book.errors.count %>error prohibited this book from being saved:
    </p>
    <ul class="error-message-content">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<%= form_with model: @book do |f| %>
  <p class="edit-text-title">Title</p>
  <div class="edit-text">
    <%= f.text_field :title %>
  </div>

  <p class="edit-text-body">Body</p>
  <div class="edit-text">
    <%= f.text_area :body %>
  </div>

  <div class="edit-button">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<div class="editpage-link">
  <%= link_to "Show" , book_url %>|<%= link_to "Back" , books_url %>
</div>