<h1 class="index-title">Books</h1>

<table>
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="body">Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books. each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <!--"Show""Edit""Destroy"ページ実装後リンクを作成する-->


    </tr>
    <% end %>
  </tbody>
</table>


<h2 class="newbook">New book</h2>

<div>
  <% if @book.errors.any? %>
    <p class="error-message">
      <%= @book.errors.count %>error prohibited this book from being saved:
    </p>
    <ul class="error-message-content">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<%= form_with model: @book do |f| %>
  <p class="new-title-body">Title</p>
  <div class="text">
  <%= f.text_field :title %>
  </div>

  <p class="new-title-body">Body</p>
  <div class="text">
  <%= f.text_area :body %>
  </div>

  <div class="create-button">
    <%= f.submit 'Create Book' %>
  </div>
<% end %>
